[Unit]
Description=CRI Interface for Docker Application Container Engine
Documentation=https://docs.mirantis.com
After=network-online.target firewalld.service docker.service
Wants=network-online.target docker.service
Requires=cri-dockerd.socket

[Service]
Type=notify
{% if enable_proxy is defined and enable_proxy | bool -%}
Environment="HTTP_PROXY={{ proxy_env.http_proxy }}"
Environment="HTTPS_PROXY={{ proxy_env.https_proxy }}"
Environment="NO_PROXY=localhost, 127.0.0.1, 127.0.0.0/8, 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16, {{ local_image_repo }}, {% for reg in proxy_registries -%}{{ reg }}{%- if not loop.last -%}, {% endif -%}{%- endfor -%}"
{% endif -%}
ExecStart=/usr/bin/cri-dockerd --container-runtime-endpoint=unix://{{ cri_socket }} --cni-bin-dir=/opt/cni/bin --cni-conf-dir={{ cni_etc_dir }} --cni-bin-dir=/opt/cni/bin --network-plugin=cni --cri-dockerd-root-directory=/var/lib/cri-dockerd --pod-cidr={{ pod_network_cidr }} --pod-infra-container-image={{ kube_image_repository }}/pause:{{ pause_version }} --image-pull-progress-deadline=2m0s --runtime-cgroups={{ cgroup_driver }}
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
# Note that StartLimit* options were moved from "Service" to "Unit" in systemd 229.
# Both the old, and new location are accepted by systemd 229 and up, so using the old location
# to make them work for either version of systemd.
StartLimitBurst=3
# Note that StartLimitInterval was renamed to StartLimitIntervalSec in systemd 230.
# Both the old, and new name are accepted by systemd 230 and up, so using the old name to make
# this option work for either version of systemd.
StartLimitInterval=60s
TimeoutStartSec=0
TimeoutSec=0
RestartSec=5
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
# LimitNOFILE=1048576
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
# Comment TasksMax if your systemd version does not support it.
# Only systemd 226 and above support this option.
TasksMax=infinity
# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes
# kill only the docker process, not all processes in the cgroup
KillMode=process

[Install]
WantedBy=multi-user.target
