---
apiVersion: v1
kind: Namespace
metadata:
  name: etcd-backup
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: etcd-backup
  namespace: etcd-backup
spec:
  # 每小时 15 分执行一次备份
  schedule: "15 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          tolerations:
          - key: node-role.kubernetes.io/master
            operator: Exists
          - key: node-role.kubernetes.io/control-plane
            operator: Exists
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                - matchExpressions:
                  - key: node-role.kubernetes.io/master
                    operator: Exists
                - matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: Exists
          containers:
          - name: etcd-backup
            image: "{{ kube_image_repository }}/etcd:{{ etcd_version }}-0"
            env:
            - name: ETCDCTL_API
              value: "3"
            command:
            - sh
            - -c
            - |
              etcdctl --endpoints=https://127.0.0.1:2379 --cacert={{ etcd_pki_dir }}/ca.crt --cert={{ etcd_pki_dir }}/healthcheck-client.crt --key={{ etcd_pki_dir }}/healthcheck-client.key snapshot save /backup/etcd-snapshot-lateest.db
            volumeMounts:
            - name: etcd-certs
              mountPath: /etc/kubernetes/pki/etcd
              readOnly: true
            - name: backup
              mountPath: /backup
            - name: localtime
              mountPath: /etc/localtime
          restartPolicy: OnFailure
          hostNetwork: true
          volumes:
          - name: etcd-certs
            hostPath:
              path: /etc/kubernetes/pki/etcd
              type: Directory
          - name: backup
            hostPath:
              path: "{{ etcd_data_bak_dir }}"
              type: DirectoryOrCreate
          - name: localtime
            hostPath:
              path: /usr/share/zoneinfo/Asia/Shanghai
