- name: 获取其他 master 节点各组件状态
  shell: >
    kubectl get nodes | grep {{ hostvars[inventory_hostname]['ansible_' + iface].ipv4.address }} | wc -l || exit 0
  environment:
    KUBECONFIG: "{{ kubernetes_etc_dir }}/admin.conf"
  register: get_nodes_result
  delegate_to: "{{ groups['kube_masters'] | difference(groups['delete_masters']) | unique | first }}"

# # 由于 etcd 是二进制安装, 因此需要加上配置： --config kubeadm-config.yaml
- name: 生成 master 节点 join token
  shell: >
    echo $(kubeadm token create --print-join-command --ttl=15m) --certificate-key $(kubeadm init phase upload-certs --upload-certs --config {{ kubernetes_etc_dir }}/kubeadm-config.yaml | sed -n '3p')
  environment:
    KUBECONFIG: "{{ kubernetes_etc_dir }}/admin.conf"
  run_once: true
  delegate_to: "{{ groups['kube_masters'] | difference(groups['delete_masters']) | unique | first }}"
  register: master_kubeadm_join_cmd

- name: 生成 kubeadm join 命令
  run_once: true
  set_fact:
    kubeadm_join: "{{ master_kubeadm_join_cmd.stdout }}"

- debug: var=kubeadm_join
  run_once: true

- block:
  # - pause:
  #     prompt: "暂停, 手动确认继续执行, 测试用。。。"

  # master使用kubeadm升级1.18之后 遇到新的node不能添加问题,https://github.com/kubernetes/website/pull/19868/files
  # kubeadm init phase bootstrap-token
  - name: 其他 master 节点加入集群
    shell: >
      timeout -k 240s 240s;
      {{ kubeadm_join }} --control-plane \
        --node-name={{ hostvars[inventory_hostname]['ansible_' + iface].ipv4.address }} \
        --ignore-preflight-errors=all \
        --v=5
    register: master_join_rslt

  - include_tasks: check_master_status.yml
  when:
    - 'get_nodes_result.stdout != "1"'
    - inventory_hostname != groups['kube_masters'] | difference(groups['delete_masters']) | unique | first
