- name: 加载 container engine 依赖内核模块
  modprobe: name={{ item }} state=present
  with_items:
    - br_netfilter
    - overlay
    - bridge

- name: 将 bridge-netfilter 和 ip-forward 写入系统变量
  sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_set: yes
    state: present
    reload: yes
  with_items:
    - { name: 'net.ipv4.ip_forward', value: '1' }
    - { name: 'net.bridge.bridge-nf-call-ip6tables', value: '1' }
    - { name: 'net.bridge.bridge-nf-call-iptables', value: '1' }
    - { name: 'net.ipv4.conf.all.arp_ignore', value: '1' }
    - { name: 'net.ipv4.conf.all.arp_announce', value: '2' }

- include_tasks: "containerd/main.yml"
  when: inventory_hostname in groups['kube_cluster'] | unique

- include_tasks: "docker/main.yml"
  when:
    - container_runtime == 'docker'
    - inventory_hostname in groups['kube_cluster'] | unique
