- name: 二进制安装 docker
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: 0755
  with_items:
    - { src: "{{ cache_dir }}/binary/docker/", dest: "/usr/bin/"}

- name: 安装 docker 命令补全工具
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
  with_items:
    - { src: "docker", dest: "/etc/bash_completion.d/", mode: "0644" }
