---
- name: 二进制安装 kubernetes
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: 0755
  with_items:
    - { src: "{{ cache_dir }}/binary/kubernetes/", dest: "/usr/bin/"}

- name: 配置 kubectl 和 kubeadm 命令自动补全
  ansible.builtin.lineinfile:
    dest: "{{ ansible_env.HOME }}/.bashrc"
    state: present
    regexp: "{{ item }} completion"
    line: "source <({{ item }} completion bash)"
  with_items:
    - kubectl
    - kubeadm

- name: Kubectl 和 kubeadm bash completion 写入 /etc/bash_completion.d/
  changed_when: true
  ansible.builtin.shell: >
    {{ item }} completion bash > /etc/bash_completion.d/{{ item }};
    source {{ ansible_env.HOME }}/.bash_profile
  args:
    executable: /bin/bash
  with_items:
    - kubectl
    - kubeadm

- name: 安装 kubelet 启动优化脚本
  ansible.builtin.copy:
    src: "kubelet-pre-start.sh"
    dest: "/usr/local/bin/"
    owner: root
    group: root
    mode: 0755
