---
- name: 安装 containerd
  ansible.builtin.include_tasks: containerd.yml
  when: inventory_hostname in (groups['kube_cluster'] | difference(groups['delete_masters']) | difference(groups['delete_nodes']) | unique)

- name: 安装 docker
  ansible.builtin.include_tasks: docker.yml
  when:
    - container_runtime == 'docker'
    - inventory_hostname in (groups['kube_cluster'] | difference(groups['delete_masters']) | difference(groups['delete_nodes']) | unique)

- name: 安装 etcd
  ansible.builtin.include_tasks: etcd.yml
  when: "inventory_hostname in (groups['kube_masters'] | difference(groups['delete_masters'] | unique))"

- name: 安装 kubernetes 所有节点依赖
  ansible.builtin.include_tasks: kube_cluster.yml
  when: inventory_hostname in (groups['kube_cluster'] | difference(groups['delete_masters']) | difference(groups['delete_nodes']) | unique)

- name: 安装 kubernetes master 节点依赖
  ansible.builtin.include_tasks: master.yml
  when: "inventory_hostname in (groups['kube_masters'] | difference(groups['delete_masters']) | unique)"

- name: 安装 kubernetes node 节点依赖
  ansible.builtin.include_tasks: worker.yml
  when:
    - inventory_hostname not in (groups['kube_masters'] | difference(groups['delete_masters']) | unique)
    - inventory_hostname in (groups['kube_nodes'] | difference(groups['delete_nodes']) | unique)
