- block:
  - name: 安装证书更新脚本(要求 kubernetes 版本>1.17)
    copy:
      src: "update-kubeadm-cert.sh"
      dest: "/usr/local/bin/"
      owner: root
      group: root
      mode: 0755

  - name: 安装 helm
    when: inventory_hostname in (groups['kube_masters'] | difference(groups['delete_masters']))
    copy:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
      owner: root
      group: root
      mode: 0755
    with_items:
      - { src: "{{ cache_dir }}/binary/helm/", dest: "/usr/bin/"}

  - name: 添加 helm 命令自动补全
    lineinfile:
      dest: "{{ ansible_env.HOME }}/.bashrc"
      state: present
      regexp: "{{ item }} completion"
      line: "source <({{ item }} completion bash)"
    with_items:
      - helm

  - name: helm 自动补全写入 /etc/bash_completion.d/
    shell: >
      {{ item }} completion bash > /etc/bash_completion.d/{{ item }};
      source {{ ansible_env.HOME }}/.bash_profile
    args:
      executable: /bin/bash
    with_items:
      - helm
  when: "inventory_hostname in (groups['kube_masters'] | difference(groups['delete_masters']))"
