---
- name: Worker 节点资源预装
  when:
    - inventory_hostname not in (groups['kube_masters'] | difference(groups['delete_masters']) | unique)
    - inventory_hostname in (groups['kube_nodes'] | difference(groups['delete_nodes']) | unique)
  block:
    - name: Debug
      ansible.builtin.debug:
        var: inventory_hostname
