---
- name: 安装 chrony
  when: groups['chrony']|length > 0
  block:
  - name: 卸载 ntp
    ansible.builtin.package:
      name: ntp
      state: absent

  - name: Debug
    ansible.builtin.debug:
      msg: "安装 chrony, 可能需要一定时间。。"
    run_once: true

  - name: 离线安装 chrony
    ansible.builtin.shell: >-
      rpm -Uvh --nodeps --force *.rpm
    args:
      warn: false
      chdir: "{{ cache_dir }}/chrony"
    register: chrony_rpm_install
    failed_when: chrony_rpm_install.rc != 0 and "is already installed" not in chrony_rpm_install.stderr
    changed_when: chrony_rpm_install.rc == 0

  - name: Chrony server 安装
    when: 'inventory_hostname == groups.chrony[0]'
    block:
    - name: 配置 chrony server
      ansible.builtin.template:
        src: server-centos.conf.j2
        dest: /etc/chrony.conf
        mode: 0644

    - name: 启动 chrony server
      ansible.builtin.systemd:
        name: chronyd
        daemon_reload: yes
        state: restarted
        enabled: yes

  - name: Chrony client 安装
    when: 'inventory_hostname != groups.chrony[0]'
    block:
    - name: 配置 chrony client
      ansible.builtin.template:
        src: client-centos.conf.j2
        dest: /etc/chrony.conf
        mode: 0644
      when: 'ansible_distribution in ["CentOS","RedHat","Amazon"]'

    - name: 启动 chrony client
      ansible.builtin.systemd:
        name: chronyd
        daemon_reload: yes
        state: restarted
        enabled: yes
      when: 'ansible_distribution in ["CentOS","RedHat","Amazon"]'
